// Bigger cover when collapsed
.main-coverSlotCollapsed-container .cover-art-image
	height: 76px
	width: 76px
	left: -12px
	top: -7px
	transition-duration: 0.15s

// Push to the left once expanded
.main-nowPlayingWidget-coverExpanded .cover-art-image
	left: -30px

// Button position
.main-coverSlotCollapsed-expandButton
	right: 0 !important
	top: -4px