// Removes gradient at home
.main-home-homeHeader
	background-image: none
	transition: none
	background-color: var(--spice-main) !important
// ... cover art
div.cover-art.shadow
	box-shadow: none
// ... playlists
.main-entityHeader-overlay
	background: none
.main-actionBarBackground-background
	background: none !important
.main-entityHeader-backgroundColor
	background: none !important
// ... now playing title
.main-nowPlayingView-contextItemInfo:before
	background: none !important