// Home button background
.main-globalNav-link-icon
	background-color: var(--spice-selected-row) !important

// No extra colors (topbar)
.main-home-filterChipsSection > div
	background-color: var(--spice-main) !important

// No transition and different bg for home reccomendations
.view-homeShortcutsGrid-shortcut,
.view-homeShortcutsGrid-shortcut:hover
	background-color: var(--spice-selected-row) !important
	transition: none
	-webkit-transition: none