// Stick to the right
.Root__right-sidebar
	right: -15px


// Nowplaying
// Correct background color and add border radius
.main-nowPlayingView-section, .main-nowPlayingView-aboutArtistV2TextContent
	background-color: var(--spice-selected-row)
	border-radius: 4px

// Friendlist
// Remove unnecessary header from friend list
.main-buddyFeed-header
	display: none

// Friend list compress
.main-buddyFeed-friendActivity
	padding: 8px 0
.main-buddyFeed-avatarContainer
	top: 10px