// Stick it to the left
#Desktop_LeftSidebar_Id
	left: -10px

// No padding
.main-yourLibraryX-libraryRootlist
	padding: 0

// Better expansion indicator
div.HeaderArea > div > button.Button-buttonTertiary-small-iconOnly-useBrowserDefaultFocusStyle-condensedAll,
div.HeaderArea > div > button.Button-buttonTertiary-small-iconOnly-isUsingKeyboard-useBrowserDefaultFocusStyle-condensedAll
	width: 24px !important
	height: 100% !important
	padding: 0 !important
	background-color: var(--spice-text)

// Use the nice GIF for showing something is playing
// div.main-yourLibraryX-listItem svg[data-encore-id="icon"][role="img"]


// No arrow
div.HeaderArea > div > button.Button-buttonTertiary-small-iconOnly-data-skip-in-keyboard-nav-isUsingKeyboard-useBrowserDefaultFocusStyle-condensedAll > span,
div.HeaderArea > div > button.Button-buttonTertiary-small-iconOnly-data-skip-in-keyboard-nav-useBrowserDefaultFocusStyle-condensedAll > span
	display: none !important

// Collapsed
// Borderless images
.x-entityImage-imageContainer
	border-radius: 0px

// Proper color for "new playlist" button
div.main-yourLibraryX-collapseButton + div > button
	background-color: var(--spice-selected-row)

// Fix library filter colors
.ChipInnerComponent-sm-selected-secondary,
.ChipInnerComponent-sm-selected-secondary-isUsingKeyboard,
.ChipInnerComponent-sm-selected,
.ChipInnerComponent-sm-selected-isUsingKeyboard
	background-color: var(--spice-text) !important