// Stick it to the left
#Desktop_LeftSidebar_Id
	left: -10px

// No padding
.main-yourLibraryX-libraryRootlist
	padding: 0

// Bigger expansion size
div.HeaderArea > div[class*=TrailingSlot]
	width: 24px

// Better expansion indicator
div.HeaderArea > div > button.Button-buttonTertiary-small-iconOnly-data-skip-in-keyboard-nav-isUsingKeyboard-useBrowserDefaultFocusStyle-condensedAll,
div.HeaderArea > div > button.Button-buttonTertiary-small-iconOnly-data-skip-in-keyboard-nav-useBrowserDefaultFocusStyle-condensedAll
	width: 100% !important
	height: 100% !important
	padding: 0 !important
	background-color: var(--spice-text)

// No arrow
div.HeaderArea > div > button.Button-buttonTertiary-small-iconOnly-data-skip-in-keyboard-nav-isUsingKeyboard-useBrowserDefaultFocusStyle-condensedAll > span,
div.HeaderArea > div > button.Button-buttonTertiary-small-iconOnly-data-skip-in-keyboard-nav-useBrowserDefaultFocusStyle-condensedAll > span
	display: none !important

// Collapsed
.x-entityImage-imageContainer
	border-radius: 0px