// Removes shadow from playlist imgs
.main-entityHeader-shadow
	box-shadow: none
// ... feed images
.main-buddyFeed-buddyFeed
	box-shadow: none
// ... cards
.main-cardImage-imageWrapper
	box-shadow: none
// ... recommendations
div.main-card-PlayButtonContainer
	box-shadow: none !important
// ... context menu
.main-contextMenu-menu
	box-shadow: none
// ... rootlist
.main-yourLibraryX-libraryContainer > div:first-child
	box-shadow: none
// ... collapsed rootlist
.x-entityImage-imageContainer
	box-shadow: none
// ... notifications
div.notistack-CollapseWrapper div[role="status"] > div
	box-shadow: none
// ... add
.DquSH3YjnaIIXMZiOvwA
	box-shadow: none