// Tracks hover
.main-trackList-trackListRow:focus-within, .main-trackList-trackListRow:hover,

// Selected tracks
.main-trackList-selected, .main-trackList-selected:hover
	background-color: var(--spice-selected-row) !important

// Header color
.main-trackList-trackListHeader
	background-color: var(--spice-main) !important	

// Playing icon
.main-trackList-playingIcon
	filter: brightness(0) saturate(100%) invert(89%) sepia(25%) saturate(349%) hue-rotate(351deg) brightness(89%) contrast(87%)

// Track image
.main-trackList-rowImage
	border-radius: 0 !important
	height: 48px
	width: 48px

// Show buttons
.main-trackList-rowSectionEnd > button
	opacity: 1 !important