.main-coverSlotCollapsed-container .cover-art-image {
  height: 76px;
  width: 76px;
  left: -12px;
  top: -7px;
  transition-duration: 0.15s;
}

.main-nowPlayingWidget-coverExpanded .cover-art-image {
  left: -30px;
}

.main-coverSlotCollapsed-expandButton {
  right: 0 !important;
  top: -4px;
}

.now-playing-bar-container > div:first-child:nth-last-child(2) .playback-bar,
.main-nowPlayingBar-container > div:first-child:nth-last-child(2) .playback-bar {
  bottom: 107px;
}

.playback-bar__progress-time-elapsed {
  opacity: 0;
  position: absolute;
  bottom: 13px;
  left: -12px;
  transition-duration: 0.15s;
  background-color: var(--spice-main);
}

.main-playbackBarRemainingTime-container {
  opacity: 0;
  position: absolute;
  bottom: 13px;
  right: -10px;
  transition-duration: 0.15s;
}

.progress-bar {
  --bg-color: var(--spice-selected-row);
}

.playback-bar:hover .playback-bar__progress-time-elapsed,
.playback-bar:hover .main-playbackBarRemainingTime-container {
  opacity: 1;
}

.playback-bar {
  width: 100%;
  bottom: 83px;
  position: absolute;
}

.player-controls__buttons {
  transform: translateY(6px);
  align-items: center;
}

.playback-bar .progress-bar__fg {
  background-color: var(--spice-playback-bar);
}

.main-home-homeHeader {
  background-image: none;
  transition: none;
  background-color: var(--spice-main) !important;
}

div.cover-art.shadow {
  box-shadow: none;
}

.main-entityHeader-overlay {
  background: none;
}

.main-actionBarBackground-background {
  background: none !important;
}

.main-entityHeader-backgroundColor {
  background: none !important;
}

.main-rootlist-rootlistDividerGradient {
  display: none;
}

.main-entityHeader-shadow {
  box-shadow: none;
}

.main-buddyFeed-buddyFeed {
  box-shadow: none;
}

.main-cardImage-imageWrapper {
  box-shadow: none;
}

div.main-gridContainer-gridContainer > div > div > div > div {
  box-shadow: none !important;
}

.main-contextMenu-menu {
  box-shadow: none;
}

div.GlueDropTarget.personal-library {
  display: none;
}

.main-navBar-navBarLink > span {
  display: none;
}

#spicetify-sticky-list {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
}

.main-navBar-navBarLink {
  padding-left: 10px;
  height: 25px;
  line-height: 25px;
  gap: 0;
  padding: 0;
}

.main-navBar-navBarItem {
  padding: 0 6px;
}

.main-rootlist-rootlist {
  --left-sidebar-padding-left: 10px;
  --left-sidebar-item-indentation-width: 15px;
  --left-sidebar-item-height: 27px;
}

.main-rootlist-rootlistItem:hover {
  background-color: var(--spice-selected-row);
  border-radius: 0 8px 8px 0;
}

.main-rootlist-expandArrow,
.main-rootlist-expandArrow:active,
.main-rootlist-expandArrow:focus-within,
.main-rootlist-expandArrow:hover {
  color: transparent;
  background-color: var(--spice-text);
  width: 15px;
  height: 15px;
  margin-top: auto;
  margin-bottom: auto;
}

.lyrics-lyrics-container {
  --lyrics-color-passed: var(--spice-text) !important;
  --lyrics-color-active: var(--spice-button-active) !important;
  --lyrics-color-inactive: var(--spice-text) !important;
  --lyrics-color-background: var(--spice-main) !important;
}

div.main-shelf-topRow + div > div:hover {
  background-color: var(--spice-selected-row);
}

.main-topBar-background {
  background-color: var(--spice-main) !important;
}

.main-userWidget-box {
  background-color: var(--spice-main);
}

.main-topBar-topbarContent > .main-playButton-PlayButton {
  display: none;
}

.main-entityHeader-topbarTitle {
  margin: auto;
  font-size: 35px;
}

div.main-shelf-topRow + div > div {
  background-color: var(--spice-selected-row);
}

.encore-dark-theme, .encore-light-theme {
  --text-subdued: var(--spice-text);
}

:root {
  --spice-rgb-selected-row: var(--spice-text);
}

.main-contextMenu-menuItemButton:hover {
  background-color: var(--spice-selected-row);
}

span[aria-label=Explicit] {
  background-color: var(--spice-text);
}

.main-trackList-trackListRow:focus-within, .main-trackList-trackListRow:hover {
  background-color: var(--spice-selected-row);
}

.main-card-card,
.main-card-card:hover {
  background: var(--spice-selected-row);
}

.x-searchInput-searchInputInput {
  background-color: var(--spice-selected-row);
}

.x-searchInput-searchInputSearchIcon {
  color: var(--spice-text);
}

.main-topBar-button:hover {
  background-color: var(--spice-selected-row) !important;
}

.main-topBar-button:disabled {
  opacity: 0 !important;
}

div[aria-label="Already added"] > div {
  background-color: var(--spice-main);
  color: var(--spice-text);
}

div[aria-label="Already added"] > div > div > button.main-button-tertiary {
  background-color: var(--spice-text);
  color: var(--spice-main);
}

.main-trackList-playingIcon, .control-button-heart > svg {
  filter: brightness(0) saturate(100%) invert(89%) sepia(25%) saturate(349%) hue-rotate(351deg) brightness(89%) contrast(87%);
}

img.main-image-image[loading=lazy][aria-hidden=false] {
  border-radius: 4px;
}

div.main-gridContainer-gridContainer > div[class^=main-heroCard-card] {
  background: var(--spice-selected-row);
}

.os-scrollbar {
  opacity: 0 !important;
}/*# sourceMappingURL=user.css.map */