@use 'cards'
@use 'contextmenu'
@use 'cover'
@use 'delete'
@use 'duration'
@use 'gradient'
@use 'home'
@use 'lyrics'
@use 'navigator'
@use 'notif'
@use 'playlist'
@use 'profile'
@use 'repeatadd'
@use 'rightbar'
@use 'rootlist'
@use 'save'
@use 'search'
@use 'settings'
@use 'shadow'
@use 'tracks'


// Main color of text
:root
	--spice-rgb-selected-row: var(--spice-text)

// Chill out with the scrolling
#main
	overflow: hidden

// Subdued text color is normal
.encore-dark-theme, .encore-light-theme, .encore-inverted-light-set
	--text-subdued: var(--spice-text)
	--essential-subdued: var(--spice-text)
	--background-highlight: var(--spice-selected-row) !important

// Notifications no seperator
div[data-testid="infinite-scroll-list"] hr
	display: none

// Make scrollbar transparent
.os-scrollbar
	opacity: 0 !important

// Don't show top bar backgrounds
.main-topBar-background
	background-color: var(--spice-main) !important

// Change reading prompt background
div[aria-label="Already added"] > div
	background-color: var(--spice-main)
	color: var(--spice-text)

// Change "Add anyway" color
div[aria-label="Already added"] > div > div > button.main-button-tertiary
	background-color: var(--spice-text)
	color: var(--spice-main)

// Vim key background
span.vim-key
	background-color: var(--spice-selected-row)